modelpara
1mats
path1
pathwxy
result
result_draw
test_data
training_data
wxymats
WV3_Reduced
draw
Efficient-MIF-main-release
GF2_Full
GF2_Reduced
images
mats_gf2
mats_wv3
mats_qb
path_gf2
path_qb
path_wv2
path_wv3
pdf
QB_Full
QB_Reduced
WV3_Full
WV3_Reduced
WV3_REDUCED_RES
RRConv.code-workspace
run_mat.py
test
